:root {
  --main-color: #345ba0;
  --main-colorLight: #4cb8ff;
  --secondary-color: #23519b;
  --text-muted: #4685ff;
  --b-primary: linear-gradient(95.81deg, #4cb8ff 2.29%, #4685ff 61.39%);
  --border: #fff;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background: linear-gradient(95.81deg, #4cb8ff 2.29%, #4685ff 61.39%);
  font-family: sans-serif;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
