:root {
  --main-color: #345ba0;
  --main-colorLight: #4cb8ff;
  --secondary-color: #23519b;
  --text-muted: #4685ff;
  --b-primary: linear-gradient(95.81deg, #4cb8ff 2.29%, #4685ff 61.39%);
  --border: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--b-primary);
  font-family: sans-serif;
}

.App {
  display: flex;
}

.Dynamic_component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  position: absolute;
  top: 25px;
  left: 280px;
  border-radius: 20px;
  width: 30%;
  height: 5vh;
}
.searchBar input {
  background-color: var(--b-primary);
  width: 100%;
  border-radius: 20px;
  height: 5vh;
  border: 1px solid white;
  outline: none;
  font-size: 1.2em;
  color: var(--border);
}
